
# COGS 189: Depression

## Overview
In this project, we ______________.<br>

### EEG Data
For this dataset, we will be using data collected from James F. Cavanagh & John J.B.Allen's Depression Rest (d003) located at the following URL: http://predict.cs.unm.edu/downloads.php.
<br>
***
## Section 1: Setup
We will be importing the following packages: <br>
- numpy
- scipy
- matplotlib
- seaborn
- pandas

In [14]:
import numpy as np                                      # for dealing with data
from scipy.signal import butter, sosfiltfilt, sosfreqz  # for filtering
from scipy.io import loadmat                            # for importing matlab files
import matplotlib.pyplot as plt                         # for plotting
import seaborn as sns                                   # for visualization
import pandas as pd                                     # for importing datasets and handling data

***
## Section 2: Data Cleaning
The dataset we used was broken down into individual MATLAB (.mat) files for each participant. We used MATLAB to convert the files into Comma-separated value (.csv) format. We decided to keep only the EEG data and times for each participant. The files are named according to the participant ID. EEG data files are named only by the participant ID (e.g., "509.csv"), EEG times files have 't' appended to the filename (e.g., "509t.csv").

In [15]:
data_df = pd.read_csv('508.csv')
times_df = pd.read_csv('508t.csv')

Since each column in the EEG data corresponds to the columns in EEG times, we will use times_df as the column labels for data_df.

In [16]:
data_df.columns=[times_df]

data_df.head()

,0,2,4,6,8,10,12,14,16,18,...,489848,489850,489852,489854,489856,489858,489860,489862,489864,489866
0,56.22082,53.45528,50.16888,46.89329,43.84055,43.09327,43.20996,42.96309,43.39455,41.91674,...,0,0,0,0,0.000,0.000000,0.0000,0.000,0.0000,0.000
1,59.18296,54.26173,48.98583,43.68309,39.06269,39.34544,42.09615,41.96627,40.30890,40.45673,...,0,0,0,0,-39801.000,0.000000,0.0000,0.000,0.0000,0.000
2,17.15709,16.33924,15.18391,13.39488,11.54966,11.35676,11.67984,11.12101,10.14020,10.70096,...,0,0,0,0,5831.846,-85086.570000,139.5197,-71996.500,0.0000,0.000
3,27.47196,24.81881,21.84332,19.41866,17.99364,18.30767,19.36691,19.15770,18.71927,19.76710,...,0,0,0,0,-10832.290,1.360824,89179.4100,944.762,615.6472,1115.876
4,-22.52314,-21.86556,-22.46443,-24.43509,-25.63445,-25.12588,-24.94336,-25.58389,-27.02641,-26.85768,...,0,0,0,0,169154.200,0.000000,0.0000,0.000,0.0000,0.000